h1 {
  margin-bottom: 1em;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-right: 1em;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545c;
}
nav a:active {
  background-color: black;
}

.footer {
  display: block;
  background-color: #369;
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 1.5em !important;
  border-top: 1px solid black;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
}

.footer p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: white;
}
